<!-- Footer -->
<footer class="text-center text-lg-start text-light secondary">
    <!-- Section: Links  -->
    <section class="p-2">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold logo">Karigar</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Karigar: Easy, Fast, and Reliable
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Services</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Plumber</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Electrician</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Handy Man</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">AC Services</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Terms and Conditions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">About Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Contact Us</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> Tehsil Chowk, CHK</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@karigar.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 92 333 456 3456</p>
                    <p><i class="fas fa-phone mr-3"></i> + 92 333 567 6789</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="#">karigar.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script type="text/javascript" src="/static/js/jquery-3.6.1.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script src="/static/js/script.js"></script>