<nav class="navbar navbar-expand-lg navbar-dark secondary">
    <a class="navbar-brand logo" href="/">Karigar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-auto">
                <a class="nav-link text-light" href="/login">Login</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link text-light" href="/register">Register</a>
            </li>
        </ul>

    </div>
</nav>