<!DOCTYPE html>
<html lang="en">

<head>
    <title>Karigar</title>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav_customer'); %>
    <div class="container main p-3 mt-5 mb-5 primary">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="text-center text-dark logo" id="page_heading">Services</h1>
                <p class="text-center text-subtitle" id="page_subtitle">Choose from our wide range of services</p>
            </div>
        </div>

        <div class="row mt-5 justify-content-left" id="categories-container">
        </div>
    </div>
    <%- include('partials/footer'); %>
    <script type="text/javascript" src="/static/js/categories.js"></script>
</body>

</html>